*::-webkit-scrollbar, section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body{
    /* background: linear-gradient(45deg, to right, #f12711, #f5af19); */

    margin: 0;
 }
 .error {
  display: none;
 }

 a {
  text-decoration: none;
  color: #000;
  cursor: pointer !important;
 }
 .wrapper {
   width: 100%;
   position: fixed;
   background-color: white;
 }
 @media (max-width: 899px) {

  .wrapper {
    bottom: 0;
  }

  .sidenav {
    display: none;
  }
 }
 .phone {
   border: 2px solid #eee;
   background: #fff;
   border-radius: 2em;
   position: relative;
   padding-bottom: 170%;
   height: 0;
   overflow: hidden;
   width: 100% !important;
   height: auto;
   box-shadow: 0 40px 80px rgba(0,0,0,0.15);
 }
 .nav--icons {
   position: absolute;
   bottom: 0;
   background-color: white;
   box-shadow: 2px 2px 5px gray;
   padding: 2% 0;
   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
 }
 .nav--icons ul {
   list-style-type: none;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   padding: 0;
   margin: 0;
   width: 100%;
 }
 .nav--icons ul li a {
   font-family: sans-serif;
   font-size: 11px;
   letter-spacing: 1px;
   text-decoration: none;
   color: #000;
   line-height: 1;
   vertical-align: middle;
   display: flex;
   align-items: center;
   border-radius: 3em;
   padding: 0.75em 1.25em;
   transition: 0.6s ease-in-out;
 }
 .nav--icons ul li a span, .is-active span {
   display: inline-block;
   overflow: hidden;
   max-width: 0;
   opacity: 0;
   padding-left: 0.5em;
   transform: translate3d(-0.5em, 0, 0);
   transition: opacity 0.6s, max-width 0.6s, transform 0.6s;
   transition-timing-function: ease-in-out;
 }
 .nav--icons ul li a:hover,
 .nav--icons ul li .is-active:hover {
   color: #fff;
   background-color: #000;
 }
 .nav--icons ul li a:hover span,
 .nav--icons ul li .is-active:hover span {
   opacity: 1;
   max-width: 40px;
   transform: translate3d(0, 0, 0);
 }

.topper {
  position: absolute;
  background-size: 100% 100%;
background-position: 0px 0px;
background-image: linear-gradient(109deg, #152556 0%, #71C4FFFF 100%);
 /* background-image: url('../static/pexels-vlad-chețan-2892619.jpg'); */
  width: 100%;
  top: 0;
  height: 30% !important;
   /* background: linear-gradient(#dae0ec 10%, #e0e6f2, #eef5fe, white 64%, #dbe3f0 74%,#f2f7fd); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  color: white !important;
  height: 300px !important;

  position: fixed;
}

.topper img {
    height: 100%;
}

.notification {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  transition: 2s;
  width: 100%;
  position: fixed;
  top: 10px;
  right: 10px;
  
}

.notification .nbutton svg {
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 5px gray;
}

.box {
  border: 2px solid gray;
  padding: 2%;
  margin: 4% ;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 5px gray;
  transition: 2s;
  animation: 2s ease-in;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
}

.message h1 {
  font-size: x-large !important;
}
.message p{
  font-size: x-small !important;
}

.button {
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 150px;
    text-align: center;
    font-size: small;
    font-weight: bold;
    margin: 5% 0;
}

main {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 5%;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 70px;
    position: relative;
    background-color: white;
    margin-top: 0 !important;
}

.one a {
  width: 150px;
}
.one a .part {
    padding: 2% 5%;
    font-size: large;
    text-align: center;
    margin: 5% 0%;
    border-radius: 20px;
    font-weight: bolder;
}

.one {
    width: 80%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.circle {
  height: 100px;
  border-radius: 20px;
background: rgba(0, 0, 0, 0.397);
box-shadow:  5px 5px 15px #d9d9d9,
             -5px -5px 15px #ffffff;
  margin: 5% auto;
  padding: 7%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.circle:active {
  border-radius: 20px;
background: linear-gradient(145deg, #e6e6e6, #ffffff);
box-shadow:  5px 5px 15px #d9d9d9,
             -5px -5px 15px #ffffff;
}

.one img {
  height: 50px;

}

.two a {
  width: 100px;
  height: 100px;
}

.two a .part {
  font-size: smaller;
}

.two .circle {
  width: 30px;
  height: 30px;
  img{
    height: 25px;
    width: 25px;
  }
}

.event {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.event h2 {
  width: 100%;
  text-align: center;
}

.post {
  background-color: white;
  box-shadow: 1px 1px 5px gray;
  width: 80%;
  max-width: 600px;
  padding: 5%;
  margin: 10px auto;
  border-radius: 20px;
}
.post-contents img, iframe {
  width: 100%;
  border-radius: 20px;
}

.post-contents .creator {
  text-align: right;
  width: 100%;
  font-size: small;
}

.action button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1%;
}

header {
  width: 100%;
  padding: 2%;
  text-align: center;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

header h1{
  font-size: large !important;
  text-align: center !important;
  width: 80%;
}
header img{
  padding: 2%;
  width: 6%;
  position: relative;
  left: 0px;
}


form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  padding: 3%;
  height: 700px;
}

form input {
  width: 98%;
  height: 10%;
  padding: 1%;
  
}

form label{
  font-weight: bold;
  color: gray;
  margin-top: 5%;
}

form button{
  padding: 5%;
  background: blue;
  margin: 5% 0;
  color: white;
  font-weight: bold;
  border: 1px solid blue;
  border-radius: 20px;
  

}

.login-form form{
  height: 100%;
  padding: 0;
}

.login-form input, .login-form input:focus {
  width: 98%;
  padding: 1%;
  border: 1px solid black !important;
  border-radius: 5px;
  height: 5%;
  margin: 0 0 5% 0;
}

.login-form img {
  width: 50%;
  border-radius: 50%;
  background-color: gray;
  margin-left: 25%;
}

.login-form label{
  margin: 0 0 10px 0;
}


.profile-card:hover img {
  border-radius: 50%;
  margin-left: 30%;
  width: 40%;
  transition: 1s;
}

.profile-card:hover h3 {
  text-align: center;
  transition: 2s;
}

.profile-card .more-info {
  display: none;
  p {
    margin-right: 5%;
  }
}

.profile-card:hover .more-info {
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
   
}

.more-info p {
  width: 40% !important;
}

.profile-card:hover .more {
  text-align: center;
  transition: 1s;

}


.profile-card img {
  width: 100%;
  border-radius: 20px;
  left: 0;
  transition: 1s;
}

.color {
  height: 80px;
  width: 80px;
  background-image: url('../static/green1-removebg-preview.png');
  background-size: contain;
  position: absolute;
  top: 27%;
  left: 70%;
  transition: 1s;
}

.profile-card:hover .color {
  top: 8%;
  transform: 1s;
}

.bio ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

max.images{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.images img{
  width: 30%;
}

.sections{
  width: 94%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.sections a {
  width: 40% !important;
  font-size: smaller !important;
  height: 50%;

}

.sect a .post img {
  width: 60%;
}


.sect {
  width: 90%;
  padding: 7% 5% !important;
  font-size: smaller !important;
}

.book .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

}

.top img{
  width: 60%;
}


.top a {
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 2% 5%;
  border: 1px solid black;
  width: 10% !important;
}

input[type="search"] {
  width: 50%;
  box-sizing: border-box;
  margin: 10px 0;
  border: 2px solid rgba(224, 224, 224, 0.5);
  border-radius: 50px;
  background-color: rgba(224, 224, 224, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.19);
  background-image: url('../static/icons8-search-26.png');
  background-size: 15px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 20px 10px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="search"]:focus {
  width: 90%;
  border-radius: 5px;
  transition: 0.5s;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bar {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: x-small;
  padding: 2%;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.gallery a {
  width: 33%;
}

.gallery-object img {
  width: 100%;
}


.darker .button {
  border: 1px solid transparent;
  width: 150px;
  padding: 2% 5%;
  font-size: large;
  transition: 5s;
  text-shadow: 5px 5px 10px gray;
  .index-main{
    margin-top: 55px;
  }
}

@keyframes anim {
  0% {
    padding: 0.5% 0.75%;
  }
  20% {
    padding: 1% 2%;
  }
  40% {
    padding: 1.5% 3%;
  }
  100% {
    padding: 0.5% 0.75%;
  }
}

.tools {
  cursor: wait;
}

.result {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.index-main{
  margin-top: 300px !important;
  padding-bottom: 20%;
  margin-bottom: 0;
  border-radius: 10px;
  width: 100% !important;
}

.topper {
  background-size: cover;
}
.darker {
  display: flex;
  align-items: center;
  justify-content: center;
}


.up {
  display: none;
}


@media (max-width: 390px) {
  .one a {
    width: 120px !important;
  }
  
}

@media (min-width: 900px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav--icons ul li a span,
  .nav--icons ul li a.is-active span {
   opacity: 1;
   max-width: 40px !important;
   transform: translate3d(0, 0, 0);
   overflow: auto !important;
   display: none;
   align-items: center;
   justify-content: center;
 }

 .nav--icons ul li a {
  color: black !important;
 }
 .nav--icons ul li .is-active {
   color: #fff !important;
   background-color: #000;
 }

  
  .wrapper {
    top: 0;
  }

  .nav--icons ul {
    list-style-type: none;
    display: none;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    height: 60%;
  }

  main {
    width: 100%;
    margin-top: 0% !important;
    padding-top: 0%;
  }
  .post {
    max-width: 50%;
  }

  .sections a .post{
    width: 100%;
  }

  .topper {
    height: 100vh;
    background-size: cover;
  }
  .darker {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .message {
    
    h1{
      font-size: xxx-large;
    }

    p{
      font-size: x-large;
    }
  }

  .index-main{
    padding-bottom: 5%;
    margin-bottom: 0;
  }

  header {
    display: none;
  }

  .up {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    width: 96%;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0% !important;
  }

  .profile .post {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 900px;
  }

  .profile .post:first-child {
    img {
      width: 20%;
    }
  }

  .profile .post:first-child:hover {
    .profile-card {
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
    .profile-info {
      width: 100%;
    }
    .more-info {
      text-align: center;
      width: 100%;
    }
    h3 {
      width: 100%;
    }
    img {
      margin: 0 40%;
    }
  } 
 .profile-card{
  display: flex;
  align-items: center;
  justify-content: space-around;
 }

  .profile-card:hover {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

  }

  .one {
    padding: 2%;
    justify-content: space-between;
  }

  .circle {
    margin: 0 10% 0 0;
    padding: 0;
  }

  .one a {
    width: 20%;
  }

  .one a .part {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 90%;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff !important;
    padding: 5%;

    .circle {
      height: 70px;
      width: 70px;

    }

    img {
      height: 40px;
      width: 40px;
    }

  }


  .one {
    width: 100%;
  }

  .one .circle {
    height: 150px;
  }

  

  

  .one a .part {
    box-shadow: none;
  }

  .event {
    margin-top: 0 !important;

    .post {
      width: 100%;
    }
  }

  .pmain {
    margin-top: 1% !important;
  }

  .result {
    flex-direction: column;
  }

  .two a {
    margin: 5% 0 2% 0;
  }

  .two a:last-child {
    display: none;
  }



  .topper .message {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    /* background-image: url('../static/Cityscapes - Town.png') !important; */
    background-position: center;
    background-repeat: repeat;
    background-size: 700px;
    background: linear-gradient(#dae0ec 10%, #e0e6f2, #eef5fe, white 64%, #dbe3f0 74%,#f2f7fd) !important;

    h1 {
      font-size: 40px !important;
      color: darkorange;
    }
  }
  
  .topper img {
    width: 200px;
    position: sticky;
    top: 100px;
    display: block !important;
  
  }

  .sidenav {
    .card {
      width: 190px;
      height: 264px;
      background: rgb(183, 226, 25);
      font-family: inherit;
      position: relative;
      border-radius: 8px;
    }
    
    .quote {
      color: rgb(223, 248, 134);
      padding-left: 30px;
      position: relative;
    }
    
    .card-name {
      text-transform: uppercase;
      font-weight: 700;
      color: rgb(127, 155, 29);
      padding: 35px;
      line-height: 23px;
    }
    
    .body-text {
      font-size: 20px;
      font-weight: 900;
      padding: 60px 40px 0;
      color: #465512;
      position: absolute;
      top: 40px;
      left: 1px;
      line-height: 23px;
    }
    
    .author {
      margin-top: 5px;
      opacity: 0;
      transition: 0.5s;
    }
    
    .card:hover .author {
      opacity: 1;
    }
    
    .pic {
      width: 50px;
      height: 50px;
      background-color: rgb(158, 196, 21);
      border-radius: 50%;
    }
    
    .author-container {
      display: flex;
      align-items: center;
    }
    
    .author {
      font-weight: 700;
      color: rgb(127, 155, 29);
      padding-left: 30px;
    }
    
    .card .author svg {
      display: inline;
      font-size: 12px;
      color: rgba(128, 155, 29, 0.452);
    }

    
  }
}


















.card {
  width: 250px;
  position: relative;
  background: rgb(255, 255, 255);
  padding: 20px;
}

.card::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 10px;
  bottom: 15px;
  right: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(5deg);
  transition: all 0.1s ease-in;
}

.card::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 10px;
  bottom: 15px;
  left: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(-5deg);
  transition: all 0.1s ease-in;
}

.card:hover:before, .card:hover:after {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}

.card:hover:before {
  transform: rotate(-8deg);
}

.card:hover:after {
  transform: rotate(8deg);
}

.card__img {
  position: relative;
  background: #007c0d;
  background: linear-gradient(315deg, #68ffc0, #007c0d);
  width: 300px;
  height: 175px;
}

.card__span {
  cursor: pointer;
  font-size: 11px;
  position: absolute;
  background-color: white;
  top: 10px;
  left: 10px;
  padding: 3px 7px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in;
  user-select: none;
}

.card__span:hover {
  transform: translateX(5px);
}

.card-int {
  padding: 20px 0 0 0;
}

.card-int__title {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.card-int__button {
  cursor: pointer;
  margin: 20px 0 0 0;
  padding: 7px 20px;
  width: 100%;
  background-color: rgb(216, 255, 234);
  border: none;
  color: black;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
  transition: box-shadow 0.1s ease-in;
  user-select: none;
}

.card-int__button:active {
  box-shadow: 0px 0px 15px rgba(0, 119, 255, 0.5);
}

.card-int__button:hover::before {
  animation: effect_two 0.4s 1;
}

.card-int__button::before {
  content: 'More for this article';
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #007c0d;
  background: linear-gradient(315deg, #68ffc0, #007c0d);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-99%);
  z-index: 1;
  animation: effect_one 10s infinite;
}

.card-int__button:hover::before {
  transform: translateX(0%);
}

.excerpt {
  font-size: 14px;
}

@keyframes effect_one {
  0% {
    transform: translateX(-99%);
  }

  25% {
    transform: translateX(-90%);
  }

  50% {
    transform: translateX(-80%);
  }

  75% {
    transform: translateX(-95%);
  }

  100% {
    transform: translateX(-99%);
  }
}

@keyframes effect_two {
  to {
    transform: translateX(-1%);
  }

  from {
    transform: translateX(-99%);
  }
}





.bag{
  width: 96%;
  box-shadow: 2px 2px 10px gray;
  height: 80lvh;
  position: fixed;
  top: 10lvh;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  color: #3b1f1c !important;
  overflow-y: scroll;
  transition: 2s;
  left: 2%;
  background-size: contain;

}

.bag hr {
  background-image: url('../static/border.png');
  height: 10px;
  background-size: contain;
  position: sticky;
  top: 45px;
  margin-top: 0;
}

.bag-back {
  transition: 2s;
  width: 100%;
  height: 100lvh;
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  display: none;

}

.bag section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}

.bag .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  padding: 1%;
  position: sticky;
  top: 0;
  background-color: white;
  background-image: url('../static/6925962.jpg');
  background-size: cover;
  color: white;
}

.bag .one {
  width: 90%;
}

.bag .header button {

  border: 1px solid black;
  border-radius: 2px;
  background-color: transparent;

}

.bag .header button {
  background-color: red;
  color: white;
}

.bag .add {
  padding: 3%;
}

.bag .add button {
  width: 80%;
  background-color: transparent;
  padding: 3% 0;
  border: 1px solid black;
  border-radius: 5px;
}

.bag .add button:hover {
  width: 100%;
  background-color: #000;
  color: white;
  transition: 0.4s;
  font-weight: bold;
  content: none;
}

.bag .one {
  background-color: white;
  border-radius: 0 0 10px 10px;

}


















.chat {
  height: 100%;
  width: 100% !important;
  margin: 0 !important;
  top: 0;
  bottom: 0 !important;
}

.chat .header {
  margin: 0 !important;
  border-radius: 0;
}

.chat-container {
  height: 100% !important;
}

.chat-form {
  justify-content: center;
  bottom: 0;
  position: fixed !important;
}


.chat {
  position: fixed;
  bottom: 100px;
  width: 90%;
  margin-left: 5%;
  display: none;

  
}

.chat .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: skyblue;
  margin-top: 60px;
  position: static;
  top: 0;
  font-size: x-small;
  color: white;
  border-radius: 20px 20px 0 0;
  padding: 2%;

}
.chat .header img {
  width: 50px;
  border-radius: 50px;
  margin: 2%;
}
.chat-container {
  background-color: #f1f1f1;
  padding: 5% 0;
  padding-bottom: 0;
  border-radius: 0 0 20px 20px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.24);
  height: 350px;
  overflow-y: scroll;
  
}

.tanda, .you {
  background-color: white;
  padding: 1% 2%;
  margin-top: 3%;
  border-radius: 20px;
  max-width: 70%;
  box-shadow: 8px 7px 20px rgba(0, 0, 0, 0.05) ;
}

.tanda {
  text-align: left;
  margin-left: 5%;
  margin-right: 30%;
  border-radius: 0 20px 20px;
  scroll-snap-type: mandatory;
}

.you {
  margin-left: 30%;
  margin-right: 5%;
  border-radius: 20px 0 20px 20px;

}

.chat-form{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 50px;
  padding: 0;
  position: fixed;
  background: #f1f1f1;
  width: 100%;
}

.chat-form input {
  width: 83% !important;
  padding: 2% 5% !important;
  border: 1px solid skyblue;
  height: 0;
  margin: 0;
  height: 40%;
}

.chat-form button {
  background-color: orangered;
  color: white;
  padding: 2%;
  border: 1px solid orangered;
  margin: 0;
  cursor: pointer;
}




.chat .header button {
  border: 1px solid black;
  border-radius: 2px;
  background-color: red;
  color: white;

}


.chatmessages {
  height: 83%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}








.card-id567 {
  width: 100px;
  height: 100px;
  background: rgb(22, 22, 22);
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease;
  animation: 8s thumb-thumb infinite;
}

.card-id567 svg path {
  transition: 300ms ease;
  opacity: 0;
}

.bold-567 {
  font-weight: bold;
}

.creator-points {
  width: 3.25rem;
  height: 3rem;
  color: rgb(167 139 250);
    /* w-5 h-5 mr-2 text-indigo-400 */
}

.blurry-splash {
  position: absolute;
  inset: 0;
  width: 60px;
  margin: 0 auto;
  height: 60px;
  border-radius: 1rem;
  z-index: -1;
  opacity: 70%;
  filter: blur(15px);
  background: linear-gradient(
      120deg, rgba(167, 139, 250, 0.24)
      , rgba(167, 139, 250, 0.384), rgba(167, 139, 250, 0.226));
}

.prompt-id567 {
  position: absolute;
  color: rgb(173, 173, 173);
  text-align: center;
}

.really-small-text {
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 8px;
  margin-top: 28px;
  opacity: 0.5;
}

.card-id567:hover {
  cursor: none;
  background-color: white;
}

.card-id567:hover .prompt-id567 {
  transition: 300ms ease;
  opacity: 0;
}

.token-container {
  animation: 2s spinny-token-yayyy infinite;
  margin-bottom: 10px;
}

.prompt-id567 svg path {
  stroke: none;
  opacity: 1;
}

.card-id567:hover svg path {
  opacity: 1;
}

@keyframes spinny-token-yayyy {
  0% {
    transform: perspective(200px) rotateY(0deg);
  }

  100% {
    transform: perspective(200px) rotateY(360deg);
  }
}

@keyframes thumb-thumb {
  0%, 10%, 100% {
    transform: scale(100%);
  }

  5% {
    transform: scale(103%);
  }

  7% {
    transform: scale(97%);
  }
}

.one img {
  height: 100px !important;
}


.topper img {
  display: none;
}

.learn{
  display:none;
}
.wel {
  display: block;
}

.learnmore:hover {
  border: 2px solid;
}
.learnmore {
  width: 36% !important;
  min-width: 300px;
  border-radius: 10px;
  text-align: center;
  border: none;
  margin: 2%;
}
.learnmore p {
    padding: 2%;
    text-align: center ;

    color: white;
  }

  .learnmore .img {
    background-color: white;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
  
  }
.more {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
